
// Main:
$carnation: #A64A54;
$merlot: #892D38;
$rosewood: #63111b;
$blush: #F2B3BA;
$gray: #BFBFBF;
$lightPink: #F8D9DC;


// Portfolio:
$sky: #55ACEE;
$mint: #8DC785;
$berry: #AA5585;
$royal: #4078C0;
$coral: #CB7461;
$lilac: #9F6CD1
