@import url(../code/bower_components/normalize-css/normalize.css);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background: #A64A54;
  font-family: 'Montserrat', sans-serif; }

div.header-fill {
  background: #A64A54;
  height: 20px; }

div.wrapper {
  position: relative;
  background: #A64A54 url("../images/bg3.jpg") no-repeat top center;
  background-size: cover;
  padding-bottom: 200px;
  padding-top: 100px;
  top: 0;
  z-index: -1; }

header {
  margin: 0 auto;
  margin-right: 55%;
  padding-top: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em; }
  header h1,
  header h2 {
    color: #A64A54;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    left: 350px; }
  header nav {
    margin-top: 20px;
    z-index: 999;
    position: absolute;
    top: 120px;
    left: 340px; }
    header nav a {
      color: #892D38;
      text-decoration: none;
      font-size: .7em;
      text-align: center;
      font-weight: 500;
      padding: 10px 5px;
      transition: all 0.1s ease-in-out; }
      header nav a:hover {
        font-weight: bold;
        transition: all 0.1s ease-in-out; }
  header::after {
    content: "";
    display: block;
    clear: both; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1; }
  main::after {
    clear: both;
    content: "";
    display: table; }

section.bio {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  float: left;
  color: white;
  margin-top: 230px;
  padding-left: 50px; }
  section.bio:last-child {
    margin-right: 0; }
  section.bio h2 {
    color: #A64A54; }
    section.bio h2 span {
      font-family: 'Parisienne', cursive;
      font-size: 2em; }
  section.bio p {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 1.4em;
    color: #892D38; }

section.about {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-top: 20px solid #892D38;
  border-bottom: 20px solid #892D38;
  background: #A64A54;
  color: white;
  position: static;
  z-index: 1; }
  section.about:last-child {
    margin-right: 0; }
  section.about h2 {
    margin: 0; }
  section.about span {
    font-family: 'Parisienne', cursive;
    font-size: 2em; }
  section.about div.about {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin: 30px 50px; }
    section.about div.about:last-child {
      margin-right: 0; }
    section.about div.about p {
      margin: 30px 0;
      float: none; }
      section.about div.about p a {
        text-decoration: none;
        color: white;
        font-weight: 800; }
    section.about div.about .fa {
      font-size: 2.5em;
      margin-right: 5px; }
  section.about div.image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    text-align: center; }
    section.about div.image:last-child {
      margin-right: 0; }
    section.about div.image img {
      height: 250px;
      margin-top: 250px;
      border-radius: 50px;
      border: 3px solid #892D38; }

section.portfolio {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-top: 20px solid #892D38;
  background: #A64A54;
  color: #A64A54;
  margin: 0 auto;
  height: 0;
  z-index: 1; }
  section.portfolio::after {
    clear: both;
    content: "";
    display: table; }
  section.portfolio h2 {
    margin: 30px;
    color: #892D38; }
  section.portfolio span {
    font-family: 'Parisienne', cursive;
    font-size: 2em; }
  section.portfolio div.portfolio {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin: 30px 0;
    margin-left: 2.5%;
    z-index: 1;
    height: 100%; }
    section.portfolio div.portfolio:last-child {
      margin-right: 0; }
    section.portfolio div.portfolio article.show,
    section.portfolio div.portfolio article.hide {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      border: 1px solid white;
      border-radius: 100px;
      z-index: 1;
      position: static;
      margin: 30px 10px;
      text-align: center;
      background-size: contain;
      width: 30%; }
      section.portfolio div.portfolio article.show:last-child,
      section.portfolio div.portfolio article.hide:last-child {
        margin-right: 0; }
    section.portfolio div.portfolio article.show {
      height: 240px;
      padding: 80px 0; }
      section.portfolio div.portfolio article.show h2 {
        color: #A64A54;
        margin: 20px 0;
        font-size: 2em;
        border: 1px solid #BFBFBF;
        background: rgba(250, 250, 250, 0.8);
        transition: color 0.5s ease, background 0.5s ease; }
        section.portfolio div.portfolio article.show h2:hover {
          color: #892D38;
          cursor: pointer;
          background: white;
          transition: color 0.5s ease, background 0.5s ease; }
      section.portfolio div.portfolio article.show h3 {
        color: rgba(250, 250, 250, 0.8);
        font-weight: lighter; }
      section.portfolio div.portfolio article.show p {
        display: none; }
    section.portfolio div.portfolio article.show#twt {
      background: #55ACEE;
      background-size: 100%; }
    section.portfolio div.portfolio article.show#todo {
      background: #8DC785;
      background-size: 100%; }
    section.portfolio div.portfolio article.show#calc {
      background: #AA5585;
      background-size: 80%; }
    section.portfolio div.portfolio article.show#gh {
      background: #4078C0;
      background-size: 100%; }
    section.portfolio div.portfolio article.show#sk8 {
      background: #CB7461;
      background-size: 100%; }
    section.portfolio div.portfolio article.show#tshirt {
      background: #B39E77;
      background-size: 100%; }
    section.portfolio div.portfolio article.hide {
      height: 240px;
      padding: 50px 0;
      overflow: hidden; }
      section.portfolio div.portfolio article.hide h2, section.portfolio div.portfolio article.hide h3 {
        display: none; }
      section.portfolio div.portfolio article.hide p {
        border: 1px solid #BFBFBF;
        background: #892D38;
        border-radius: 100px;
        padding: 0; }
        section.portfolio div.portfolio article.hide p a {
          text-decoration: none;
          color: rgba(250, 250, 250, 0.7);
          font-size: 2em;
          transition: color 0.5s ease; }
          section.portfolio div.portfolio article.hide p a:hover {
            color: white;
            cursor: pointer;
            transition: color 0.5s ease; }
    section.portfolio div.portfolio article.hide#twt {
      background: #55ACEE url("https://i.gyazo.com/b2614797a77b02d3edd35f9991564895.gif") repeat-x center center;
      background-size: contain; }
    section.portfolio div.portfolio article.hide#todo {
      background: #8DC785 url("https://i.gyazo.com/ebd53747dec76a16392cd9d573108c94.gif") repeat-x center center;
      background-position-y: 30px;
      background-size: contain; }
    section.portfolio div.portfolio article.hide#calc {
      background: #AA5585 url("https://i.gyazo.com/70fef86f8bc7e3fe5db3926f2694c486.gif") repeat-x center center;
      background-size: contain; }
    section.portfolio div.portfolio article.hide#gh {
      float: left;
      background: #4078C0 url("https://i.gyazo.com/88d15dabc529f4ea2e1c17ddcaf82cd6.gif") repeat-x center center;
      background-size: contain; }
    section.portfolio div.portfolio article.hide#sk8 {
      background: #CB7461 url("http://cdn.makeagif.com/media/11-29-2015/l6zBGp.gif") repeat-x center center;
      background-size: contain; }
    section.portfolio div.portfolio article.hide#tshirt {
      background: #B39E77 url("../images/tshirt.png") repeat-x center center;
      background-size: contain; }

div#parallax1 {
  position: relative;
  background: #A64A54 url("../images/st-img.jpg") no-repeat top center;
  background-position: 45% 0%;
  background-size: cover;
  padding-bottom: 750px;
  padding-top: 80px;
  top: 0;
  height: 100%;
  z-index: -1;
  width: 100%; }

section.resume {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-top: 20px solid #892D38;
  background: #F2B3BA; }
  section.resume:last-child {
    margin-right: 0; }
  section.resume span {
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    color: #63111b;
    margin-left: 30px; }
  section.resume div.resume {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin: 5% 8%;
    color: #63111b;
    border: 1px solid #A64A54;
    background: white;
    opacity: 0.75;
    padding: 25px 50px; }
    section.resume div.resume:last-child {
      margin-right: 0; }
    section.resume div.resume h1 {
      color: #63111b;
      font-size: 2.4em;
      text-transform: uppercase;
      display: inline-block;
      float: left; }
    section.resume div.resume h2 {
      display: inline-block;
      float: left;
      margin: 38px 0 0 30px;
      font-weight: 200; }
    section.resume div.resume p {
      font-size: 0.8em;
      margin: 5px;
      clear: left; }
    section.resume div.resume a {
      text-decoration: none;
      color: #A64A54; }
    section.resume div.resume ul.contact li {
      float: none;
      width: 100%; }
      section.resume div.resume ul.contact li a {
        font-family: 'Montserrat', sans-serif;
        padding-left: 5px;
        text-decoration: none;
        color: #A64A54; }
    section.resume div.resume h3 {
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 1.3em;
      margin-bottom: 10px; }
    section.resume div.resume div.content {
      margin-top: 60px; }
    section.resume div.resume section.experience {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 58.86297%;
      padding-right: 35px; }
      section.resume div.resume section.experience:last-child {
        margin-right: 0; }
      section.resume div.resume section.experience h2 {
        font-size: 1.2em;
        margin-left: 0;
        margin-top: 20px;
        font-weight: bold; }
      section.resume div.resume section.experience p {
        margin: 10px 0;
        font-weight: 200; }
      section.resume div.resume section.experience ul {
        margin: 0 0 30px;
        padding: 0 15px; }
        section.resume div.resume section.experience ul li {
          color: #A64A54;
          font-size: .9em; }
    section.resume div.resume section.skills {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 38.29445%; }
      section.resume div.resume section.skills:last-child {
        margin-right: 0; }
      section.resume div.resume section.skills ul {
        margin: 0;
        padding: 0 15px; }
        section.resume div.resume section.skills ul li {
          color: #A64A54; }
      section.resume div.resume section.skills p {
        color: #A64A54;
        font-size: .8em; }
      section.resume div.resume section.skills .info {
        color: #63111b;
        font-size: 1em; }

@media (max-width: 995px) {
  div.heading h1 {
    left: 300px; }
  header nav {
    left: 280px; }
  section.portfolio article.show h2 {
    font-size: 1em; }
  section#resume div.resume {
    padding: 25px 40px; }
    section#resume div.resume h1 {
      text-align: center;
      float: none;
      display: block; }
    section#resume div.resume h2.resumeTitle {
      float: none;
      margin: 0 auto;
      display: block;
      text-align: center; }
    section#resume div.resume p.contact {
      text-align: center; }
    section#resume div.resume p.info {
      font-size: .94em; } }

@media (max-width: 995px) {
  div.heading h1 {
    left: 300px; }
  header nav {
    left: 280px; }
  section.portfolio div.portfolio {
    margin-left: 0; }
    section.portfolio div.portfolio article.show h2 {
      font-size: 1.5em; }
    section.portfolio div.portfolio p {
      font-size: .75em; }
  section#resume div.resume {
    padding: 25px 40px; }
    section#resume div.resume h1 {
      text-align: center;
      float: none;
      display: block; }
    section#resume div.resume h2.resumeTitle {
      float: none;
      margin: 0 auto;
      display: block;
      text-align: center; }
    section#resume div.resume p.contact {
      text-align: center; }
    section#resume div.resume p.info {
      font-size: .94em; } }

@media (max-width: 935px) {
  section.bio h2 {
    font-size: 1.2em; }
  section#about {
    margin: 0; }
    section#about div.about {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin: 0 25%;
      display: block;
      width: 50%;
      text-align: center; }
      section#about div.about:last-child {
        margin-right: 0; }
      section#about div.about h2 {
        margin: 30px; }
    section#about div.image {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      text-align: center;
      width: 50%;
      margin: 40px 25%;
      display: block; }
      section#about div.image:last-child {
        margin-right: 0; }
      section#about div.image img {
        margin: 0; }
  section.portfolio {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    section.portfolio::after {
      clear: both;
      content: "";
      display: table; }
    section.portfolio h2 {
      padding: 100px auto 0;
      display: block;
      text-align: center;
      color: #F2B3BA; }
    section.portfolio div.portfolio {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      text-align: center; }
      section.portfolio div.portfolio:last-child {
        margin-right: 0; }
      section.portfolio div.portfolio article.show,
      section.portfolio div.portfolio article.hide {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        width: 30%;
        margin-left: 90px;
        border-radius: 10px; }
        section.portfolio div.portfolio article.show:last-child,
        section.portfolio div.portfolio article.hide:last-child {
          margin-right: 0; }
        section.portfolio div.portfolio article.show h2,
        section.portfolio div.portfolio article.hide h2 {
          margin-top: 0px; }
  div#parallax1 {
    padding-bottom: 900px; } }

@media (max-width: 770px) {
  header div.heading h1 {
    float: left;
    left: 50px;
    top: 65px;
    font-size: 2.3em; }
  header nav {
    left: 50px; }
    header nav a {
      font-size: 1em;
      border-top: 1px solid #A64A54;
      border-right: 1px solid #A64A54;
      width: 20px;
      padding: 15px;
      margin: 5px 0 0;
      background: rgba(250, 250, 250, 0.3);
      border-radius: 10px; }
      header nav a:hover {
        width: 20px; }
  section.bio h2 {
    color: #A64A54;
    position: static; } }

@media (max-width: 740px) {
  header nav a {
    font-size: .75em; }
  section.bio h2 {
    font-size: 1em; } }

@media (max-width: 672px) {
  header nav a {
    float: none;
    display: block;
    width: 150%; }
    header nav a:hover {
      width: 150%; }
  section.bio {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    section.bio:last-child {
      margin-right: 0; }
    section.bio h2 {
      font-size: 1em;
      margin-top: 170px; }
    section.bio p {
      font-size: .85em; }
  section.portfolio div.portfolio article.show {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25%; }
    section.portfolio div.portfolio article.show:last-child {
      margin-right: 0; }
  section.portfolio div.portfolio article.hide {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25%; }
    section.portfolio div.portfolio article.hide:last-child {
      margin-right: 0; }
  div#parallax1 {
    padding-bottom: 2000px; } }

@media (max-width: 560px) {
  header div.heading h1 {
    font-size: 1.5em; }
  section.bio h2 {
    font-size: .8em; }
  section#about div.image {
    margin-left: 10%; } }
