@import url(../code/bower_components/normalize-css/normalize.css);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

@media print {
  section.resume {
    display: block; } }

body {
  background: #A64A54;
  font-family: 'Montserrat', sans-serif; }

.mobile {
  display: none; }

header.header {
  background: #A64A54;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #892D38; }
  header.header nav {
    margin-right: 100px;
    text-align: center;
    float: right; }
    header.header nav a {
      color: #63111b;
      text-decoration: none;
      font-size: 1em;
      text-transform: uppercase;
      text-align: center;
      padding: 10px 0;
      margin: 0 20px;
      letter-spacing: .2em;
      transition: all 0.1s ease; }
      header.header nav a:hover {
        border-bottom: 2px solid #63111b;
        transition: all 0.1s ease;
        padding-bottom: 7px; }

div.wrapper {
  background: #A64A54 url("../images/bg3.jpg") no-repeat top center;
  background-size: cover;
  padding-bottom: 200px;
  padding-top: 100px; }

main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }

div.heading {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em; }
  div.heading:last-child {
    margin-right: 0; }
  div.heading h1 {
    color: #A64A54;
    margin: 35px auto; }

section.bio {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  float: left;
  color: white;
  margin-top: 100px;
  padding-left: 50px; }
  section.bio:last-child {
    margin-right: 0; }
  section.bio h2 {
    color: #A64A54; }
    section.bio h2 span {
      font-family: 'Parisienne', cursive;
      font-size: 2em; }
  section.bio p {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 1.4em;
    color: #892D38; }

section.about {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: 20px solid #892D38;
  border-bottom: 20px solid #892D38;
  background: #A64A54;
  color: white;
  position: static; }
  section.about::after {
    clear: both;
    content: "";
    display: table; }
  section.about h2 {
    margin: 0; }
  section.about span {
    font-family: 'Parisienne', cursive;
    font-size: 2em; }
  section.about div.about {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%;
    margin: 30px 50px 0; }
    section.about div.about:last-child {
      margin-right: 0; }
    section.about div.about article {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 19.81984%;
      margin: 30px 0;
      padding: 10px;
      background: white;
      float: left;
      opacity: .8;
      text-align: center;
      height: 250px;
      overflow: auto;
      padding-right: 15px;
      transition: display 0.5s ease-in-out;
      color: #A64A54;
      position: relative;
      box-shadow: 0 1px 4px rgba(166, 74, 84, 0.3), 0 0 40px rgba(166, 74, 84, 0.1) inset; }
      section.about div.about article:last-child {
        margin-right: 0; }
      section.about div.about article .fa {
        font-size: 3.5em;
        margin: 0 auto;
        color: #A64A54;
        opacity: 1;
        padding: 40px 0 20px; }
      section.about div.about article p.abtCap {
        padding-bottom: 50px;
        font-size: 1em; }
      section.about div.about article p.about.low {
        padding-top: 80px;
        font-weight: lighter; }
      section.about div.about article p.about,
      section.about div.about article iframe#twitter-widget-0 {
        display: none; }
      section.about div.about article a {
        text-decoration: none;
        color: #A64A54;
        font-weight: 800; }
      section.about div.about article:hover {
        transition: display 0.5s ease-in-out;
        opacity: 0.8;
        cursor: default; }
        section.about div.about article:hover p.about,
        section.about div.about article:hover iframe#twitter-widget-0 {
          display: block;
          margin-top: 10px; }
        section.about div.about article:hover .fa,
        section.about div.about article:hover p.abtCap {
          display: none; }
    section.about div.about article.twitter p.abtCap {
      padding-bottom: 100px; }
    section.about div.about article.twitter p.about.low {
      padding-top: 0; }
    section.about div.about article.blog {
      background-image: none; }
      section.about div.about article.blog:hover {
        background: white url("https://i.gyazo.com/df4c328c279ae9a6f45d10880b6585cb.gif") repeat-x left center;
        background-size: cover; }
    section.about div.about article.linkedin {
      background-image: none; }
      section.about div.about article.linkedin:hover {
        background: white url("https://i.gyazo.com/4e0e5645df0f01867b9bd9fef15a761d.gif") repeat-x left center;
        background-size: cover; }
    section.about div.about article.github {
      background-image: none; }
      section.about div.about article.github:hover {
        background: rgba(250, 250, 250, 0.8) url("https://i.gyazo.com/88d15dabc529f4ea2e1c17ddcaf82cd6.gif") repeat-x left center;
        background-size: cover; }
  section.about div.image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center; }
    section.about div.image:last-child {
      margin-right: 0; }
    section.about div.image img {
      height: 250px;
      margin-bottom: 20px;
      border-radius: 50px;
      border: 3px solid #892D38; }

div.portWrapper {
  background: #A64A54 url("../images/st-img.jpg") no-repeat top center;
  background-size: cover;
  padding-bottom: 750px;
  padding-top: 80px; }

section.portfolio {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background: #A64A54;
  color: #A64A54;
  margin: 0 auto;
  height: 0; }
  section.portfolio::after {
    clear: both;
    content: "";
    display: table; }
  section.portfolio h2 {
    margin: 30px;
    color: #892D38; }
  section.portfolio span {
    font-family: 'Parisienne', cursive;
    font-size: 2em; }
  section.portfolio div.portfolio {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin: 30px 0;
    height: 100%; }
    section.portfolio div.portfolio:last-child {
      margin-right: 0; }
    section.portfolio div.portfolio article.show,
    section.portfolio div.portfolio article.hide {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      border: 1px solid white;
      border-radius: 10px;
      position: static;
      margin: 30px 10px;
      text-align: center;
      background-size: contain;
      width: 30%; }
      section.portfolio div.portfolio article.show:last-child,
      section.portfolio div.portfolio article.hide:last-child {
        margin-right: 0; }
    section.portfolio div.portfolio article.show {
      background: rgba(0, 0, 0, 0.5);
      height: 240px;
      padding: 80px 0; }
      section.portfolio div.portfolio article.show h2 {
        color: #A64A54;
        margin: 20px 0;
        font-size: 2em;
        border: 1px solid #BFBFBF;
        background: rgba(250, 250, 250, 0.5);
        transition: color 0.5s ease, background 0.5s ease; }
        section.portfolio div.portfolio article.show h2:hover {
          color: #892D38;
          cursor: pointer;
          background: white;
          transition: color 0.5s ease, background 0.5s ease; }
      section.portfolio div.portfolio article.show h3 {
        color: rgba(250, 250, 250, 0.8);
        font-weight: lighter; }
      section.portfolio div.portfolio article.show p {
        display: none; }
    section.portfolio div.portfolio article.show#twt {
      background-size: 100%; }
    section.portfolio div.portfolio article.show#todo {
      background-size: 100%; }
    section.portfolio div.portfolio article.show#calc {
      background-size: 80%; }
    section.portfolio div.portfolio article.show#gh {
      background-size: 100%; }
    section.portfolio div.portfolio article.show#sk8 {
      background-size: 100%; }
    section.portfolio div.portfolio article.show#gigstart {
      background-size: 100%; }
    section.portfolio div.portfolio article.hide {
      height: 240px;
      padding: 50px 0;
      overflow: hidden; }
      section.portfolio div.portfolio article.hide h2, section.portfolio div.portfolio article.hide h3 {
        display: none; }
      section.portfolio div.portfolio article.hide p {
        border: 1px solid #BFBFBF;
        background: #892D38;
        padding: 0; }
        section.portfolio div.portfolio article.hide p a {
          text-decoration: none;
          color: rgba(250, 250, 250, 0.7);
          font-size: 2em;
          transition: color 0.5s ease; }
          section.portfolio div.portfolio article.hide p a:hover {
            color: white;
            cursor: pointer;
            transition: color 0.5s ease; }
    section.portfolio div.portfolio article.hide#gigstart {
      background: #9F6CD1 url("https://i.gyazo.com/c728e38cddfe6688758f0d37a61e196f.gif") repeat-x center center;
      background-size: contain; }
    section.portfolio div.portfolio article.hide#todo {
      background: #8DC785 url("https://i.gyazo.com/ebd53747dec76a16392cd9d573108c94.gif") repeat-x center center;
      background-position-y: 30px;
      background-size: contain; }
    section.portfolio div.portfolio article.hide#calc {
      background: #AA5585 url("https://i.gyazo.com/70fef86f8bc7e3fe5db3926f2694c486.gif") repeat-x center center;
      background-size: contain; }
    section.portfolio div.portfolio article.hide#gh {
      float: left;
      background: #4078C0 url("https://i.gyazo.com/88d15dabc529f4ea2e1c17ddcaf82cd6.gif") repeat-x center center;
      background-size: contain; }
    section.portfolio div.portfolio article.hide#sk8 {
      background: #CB7461 url("http://cdn.makeagif.com/media/11-29-2015/l6zBGp.gif") repeat-x center center;
      background-size: contain; }
    section.portfolio div.portfolio article.hide#twt {
      background: #55ACEE url("https://i.gyazo.com/b2614797a77b02d3edd35f9991564895.gif") repeat-x center center;
      background-size: contain; }

section.resume {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-top: 20px solid #892D38;
  border-bottom: 20px solid #892D38;
  background: #F2B3BA; }
  section.resume:last-child {
    margin-right: 0; }
  section.resume span {
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    color: #63111b;
    margin-left: 30px; }
  section.resume a.printBtn {
    text-decoration: none;
    color: #F2B3BA;
    background: #A64A54;
    border: 1px solid #892D38;
    border-radius: 1px;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: .2;
    float: right;
    margin-right: 9%; }
    section.resume a.printBtn:hover {
      opacity: .8; }
  section.resume div.resume {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin: 5% 8%;
    color: #63111b;
    border: 1px solid #A64A54;
    background: white;
    opacity: 0.75;
    padding: 25px 50px; }
    section.resume div.resume:last-child {
      margin-right: 0; }
    section.resume div.resume h1 {
      color: #63111b;
      font-size: 2.4em;
      text-transform: uppercase;
      display: inline-block;
      float: left; }
    section.resume div.resume h2 {
      display: inline-block;
      float: left;
      margin: 38px 0 0 30px;
      font-weight: 200; }
    section.resume div.resume p {
      font-size: 0.8em;
      margin: 5px;
      clear: left; }
    section.resume div.resume a {
      text-decoration: none;
      color: #A64A54; }
    section.resume div.resume div.contactSocial {
      float: right; }
    section.resume div.resume ul.contact li {
      float: none;
      width: 100%; }
      section.resume div.resume ul.contact li a {
        font-family: 'Montserrat', sans-serif;
        padding-left: 5px;
        text-decoration: none;
        color: #A64A54; }
    section.resume div.resume h3 {
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 1.3em;
      margin-bottom: 10px; }
    section.resume div.resume div.content {
      margin-top: 60px; }
    section.resume div.resume section.experience {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 58.86297%;
      padding-right: 35px; }
      section.resume div.resume section.experience:last-child {
        margin-right: 0; }
      section.resume div.resume section.experience h2 {
        font-size: 1.2em;
        margin-left: 0;
        margin-top: 20px;
        font-weight: bold; }
      section.resume div.resume section.experience p {
        margin: 10px 0;
        font-weight: 200; }
      section.resume div.resume section.experience ul {
        margin: 0 0 30px;
        padding: 0 15px; }
        section.resume div.resume section.experience ul li {
          color: #A64A54;
          font-size: .9em; }
    section.resume div.resume section.skills {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 38.29445%; }
      section.resume div.resume section.skills:last-child {
        margin-right: 0; }
      section.resume div.resume section.skills ul {
        margin: 0;
        padding: 0 15px; }
        section.resume div.resume section.skills ul li {
          color: #A64A54; }
      section.resume div.resume section.skills p {
        color: #A64A54;
        font-size: .8em; }
      section.resume div.resume section.skills .info {
        color: #63111b;
        font-size: 1em; }
      section.resume div.resume section.skills .info.year {
        font-size: .8em;
        font-style: italic; }

section.blog {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-bottom: 20px solid #892D38;
  padding-bottom: 20px; }
  section.blog:last-child {
    margin-right: 0; }
  section.blog h2 {
    color: #F2B3BA;
    margin: 20px; }
    section.blog h2 span {
      font-family: 'Parisienne', cursive;
      font-size: 2em; }
  section.blog div.blog {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin: 0 auto;
    width: 90%; }
    section.blog div.blog:last-child {
      margin-right: 0; }
    section.blog div.blog iframe {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 30.90859%;
      margin: 10px;
      opacity: .9;
      height: 405px; }
      section.blog div.blog iframe:last-child {
        margin-right: 0; }
    section.blog div.blog::after {
      content: "";
      display: none;
      clear: both; }

@media (max-width: 995px) {
  div.heading h1 {
    left: 300px; }
  header nav {
    left: 280px; }
  section.portfolio article.show h2 {
    font-size: 1em; }
  section#resume div.resume {
    padding: 25px 40px; }
    section#resume div.resume h1 {
      text-align: center;
      float: none;
      display: block; }
    section#resume div.resume h2.resumeTitle {
      float: none;
      margin: 0 auto;
      display: block;
      text-align: center; }
    section#resume div.resume p.contact {
      text-align: center; }
    section#resume div.resume p.info {
      font-size: .94em; } }

@media (max-width: 995px) {
  div.heading h1 {
    left: 300px; }
  header nav {
    left: 280px; }
  section.portfolio div.portfolio {
    margin-left: 0; }
    section.portfolio div.portfolio article.show h2 {
      font-size: 1.5em; }
    section.portfolio div.portfolio p {
      font-size: .75em; }
  section#resume div.resume {
    padding: 25px 40px; }
    section#resume div.resume h1 {
      text-align: center;
      float: none;
      display: block; }
    section#resume div.resume h2.resumeTitle {
      float: none;
      margin: 0 auto;
      display: block;
      text-align: center; }
    section#resume div.resume p.contact {
      text-align: center; }
    section#resume div.resume p.info {
      font-size: .94em; } }

section#contact.contact div.about article {
  overflow: hidden; }

@media (max-width: 935px) {
  section.bio h2 {
    font-size: 1.2em; }
  section#about,
  section#contact {
    margin: 0; }
    section#about div.about,
    section#contact div.about {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin: 0;
      display: block;
      text-align: center; }
      section#about div.about:last-child,
      section#contact div.about:last-child {
        margin-right: 0; }
      section#about div.about h2,
      section#contact div.about h2 {
        margin: 30px; }
    section#about div.image,
    section#contact div.image {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      text-align: center;
      width: 50%;
      margin: 40px 25%;
      display: block; }
      section#about div.image:last-child,
      section#contact div.image:last-child {
        margin-right: 0; }
      section#about div.image img,
      section#contact div.image img {
        margin: 0; }
  div.portWrapper {
    padding: 1px 0 785px; }
  section.portfolio {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-right: 0; }
    section.portfolio::after {
      clear: both;
      content: "";
      display: table; }
    section.portfolio::after {
      content: "";
      display: block;
      clear: both; }
    section.portfolio h2 {
      padding: 100px auto 0;
      display: block;
      text-align: center;
      color: #F2B3BA;
      margin: 0; }
    section.portfolio div#portfolio {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      text-align: center;
      margin-top: 0;
      margin-left: 0; }
      section.portfolio div#portfolio:last-child {
        margin-right: 0; }
      section.portfolio div#portfolio article.show,
      section.portfolio div#portfolio article.hide {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        width: 30%;
        margin-left: 90px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 10px; }
        section.portfolio div#portfolio article.show:last-child,
        section.portfolio div#portfolio article.hide:last-child {
          margin-right: 0; }
        section.portfolio div#portfolio article.show h2,
        section.portfolio div#portfolio article.hide h2 {
          margin-top: 0px; }
      section.portfolio div#portfolio::after {
        content: "";
        clear: both;
        display: block; }
    section.portfolio section.blog#blog h2.blog {
      text-align: center; }
    section.portfolio section.blog#blog div#blog.blog {
      margin: 0 auto;
      padding-left: 30px;
      width: 100%; }
      section.portfolio section.blog#blog div#blog.blog iframe:nth-child(4) {
        clear: none; }
      section.portfolio section.blog#blog div#blog.blog iframe:nth-child(2n) {
        margin-left: 40%; } }

@media (max-width: 806px) {
  header.header div.heading h1 {
    float: left;
    left: 50px;
    top: 65px;
    font-size: 2.3em; }
  header.header nav {
    margin: 5px;
    text-align: center; }
    header.header nav a {
      font-size: 1em;
      border-top: 1px solid #A64A54;
      border-right: 1px solid #A64A54;
      width: 20px;
      padding: 10px 5px;
      margin: 0 0.75em 0 0;
      background: rgba(250, 250, 250, 0.3);
      border-radius: 10px; }
      header.header nav a:hover {
        width: 20px;
        padding: 10px 5px; }
      header.header nav a:focus {
        width: 20px;
        padding: 10px 5px;
        background: rgba(250, 250, 250, 0.5); }
  section.bio h2 {
    color: #A64A54;
    position: static; } }

@media (max-width: 740px) {
  header nav a {
    font-size: .75em; }
  section.bio h2 {
    font-size: 1em; } }

@media (max-width: 672px) {
  body header.header {
    width: 100%;
    float: right;
    padding: 5px;
    height: auto; }
    body header.header nav.main {
      display: none; }
    body header.header nav.mobile {
      width: 100%;
      display: block; }
      body header.header nav.mobile p.title {
        display: none;
        color: #F2B3BA;
        float: left;
        margin: 10px 5px;
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 0.2em; }
      body header.header nav.mobile button {
        background: none;
        color: #F2B3BA;
        border: none;
        font-size: 2em;
        margin-right: 0px;
        float: right;
        text-align: right; }
      body header.header nav.mobile p.menu {
        float: right; }
      body header.header nav.mobile p.menu span,
      body header.header nav.mobile p.menu {
        color: #F2B3BA;
        display: inline-block;
        text-align: right;
        font-size: .8em;
        margin: 0 10px;
        font-weight: lighter; }
      body header.header nav.mobile p.menu span {
        font-family: 'Parisienne', cursive;
        font-size: 2em;
        margin: 0 5px; }
      body header.header nav.mobile div {
        display: none;
        z-index: 888;
        width: 100%;
        background: #A64A54; }
      body header.header nav.mobile a {
        float: none;
        display: inline-block;
        width: 100%;
        border-radius: 0; }
        body header.header nav.mobile a:hover {
          width: 100%; }
  body div.heading h1 {
    margin-top: 0; }
  section.bio {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-top: 50px; }
    section.bio:last-child {
      margin-right: 0; }
    section.bio h2 {
      font-size: 1em;
      margin-top: 0px; }
    section.bio p {
      font-size: .85em; }
  section.portfolio div.portfolio article.show {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    section.portfolio div.portfolio article.show:last-child {
      margin-right: 0; }
  section.portfolio div.portfolio article.hide {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    section.portfolio div.portfolio article.hide:last-child {
      margin-right: 0; }
  section.contact div.about {
    margin-left: 5px; }
  section.resume div.resume section.experience {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%;
    width: 100%;
    float: none; }
    section.resume div.resume section.experience:last-child {
      margin-right: 0; }
  section.resume div.resume section.contact,
  section.resume div.resume section.skills,
  section.resume div.resume section.education {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%;
    width: 100%;
    float: none; }
    section.resume div.resume section.contact:last-child,
    section.resume div.resume section.skills:last-child,
    section.resume div.resume section.education:last-child {
      margin-right: 0; } }

@media (max-width: 566px) {
  header div.heading h1 {
    font-size: 1.5em; }
  section.bio h2 {
    font-size: .8em; }
  section#about article,
  section#contact article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    border-radius: 1px;
    margin-top: 0; }
    section#about article:last-child,
    section#contact article:last-child {
      margin-right: 0; }
    section#about article:nth-child(2n),
    section#contact article:nth-child(2n) {
      margin-left: 10%; }
    section#about article:nth-child(6),
    section#contact article:nth-child(6) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%; }
      section#about article:nth-child(6):last-child,
      section#contact article:nth-child(6):last-child {
        margin-right: 0; }
  section#about div.image,
  section#contact div.image {
    margin-left: 10%; }
  section.portfolio div#portfolio article.show,
  section.portfolio div#portfolio article.hide {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin: 5px 15%; }
    section.portfolio div#portfolio article.show:last-child,
    section.portfolio div#portfolio article.hide:last-child {
      margin-right: 0; }
  div.portWrapper {
    padding-bottom: 1500px; }
  section.blog div#blog iframe {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    display: block; }
    section.blog div#blog iframe:last-child {
      margin-right: 0; } }

@media (max-width: 415px) {
  body header.header nav.mobile p.title {
    display: inline-block;
    font-size: 0.75em; }
  body header.header nav.mobile p.menu {
    display: none; }
  div.wrapper {
    padding-top: 80px; }
  div.heading {
    display: none; }
  section.bio {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-top: 0;
    padding-left: 8px; }
    section.bio:last-child {
      margin-right: 0; }
  section.about div.image img {
    width: 250px;
    height: auto; }
  section.resume#resume section.experience,
  section.resume#resume section.skills {
    padding-right: 0; }
    section.resume#resume section.experience h3,
    section.resume#resume section.skills h3 {
      text-align: center; }
    section.resume#resume section.experience ul.contact,
    section.resume#resume section.skills ul.contact {
      padding-left: 0; } }
