@import "../code/bower_components/normalize-css/normalize.css";
@import "../code/bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "variables";
@import "../code/bower_components/neat/app/assets/stylesheets/neat";

body {
  background: $carnation;
  font-family: 'Montserrat', sans-serif;
}
.mobile {
  display: none;
}
header.header {
  background: $carnation;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid $merlot;

  nav {
    margin-right: 100px;
    text-align: center;
    float: right;
    a {
      color: $rosewood;
      text-decoration: none;
      font-size: 1em;
      text-transform: uppercase;
      text-align: center;
      padding: 10px 0;
      margin: 0 20px;
      letter-spacing: .2em;
      transition: all 0.1s ease;
      &:hover {
        // font-weight: bold;
        border-bottom: 2px solid $rosewood;
        transition: all 0.1s ease;
        padding-bottom: 7px;
      }
    }
  }
}
div.wrapper {
  background: $carnation url('../images/bg3.jpg') no-repeat top center;
  background-size: cover;
  padding-bottom: 200px;
  padding-top: 100px;
}
main {
  @include outer-container(100%);
}

div.heading {
  @include span-columns(12);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  h1 {
    color: $carnation;
    margin: 35px auto;
  }
}
section.bio {
    @include span-columns(4 of 12);
    float: left;
    color: white;
    margin-top: 100px;
    padding-left: 50px;
    h2 {
      color: $carnation;
      span {
        font-family: 'Parisienne', cursive;
        font-size: 2em;
      }
    }
    p {
      font-size: 1em;
      font-weight: 500;
      letter-spacing: .1em;
      line-height: 1.4em;
      color: $merlot;
    }
}

///////// ABOUT ////////

section.about {
  @include outer-container(100%);
  border-top: 20px solid $merlot;
  border-bottom: 20px solid $merlot;
  background: $carnation;
  color: white;
  position: static;
  h2 {
    margin: 0;
  }
  span {
    font-family: 'Parisienne', cursive;
    font-size: 2em;
  }
  div.about {
    @include span-columns(11);
    margin: 30px 50px 0;
    // text-align: center;
    article {
      @include span-columns(2.6);
      margin: 30px 0;
      padding: 10px;
      background: white;
      float: left;
      opacity: .8;
      text-align: center;
      height: 250px;
      transition: display .5s ease-in-out;
      overflow: scroll;
      color: $carnation;
      position:relative;
      box-shadow:0 1px 4px rgba(166, 74, 84, 0.3), 0 0 40px rgba(166, 74, 84, 0.1) inset;
      .fa {
        font-size: 3.5em;
        margin: 0 auto;
        color: $carnation;
        opacity: 1;
        padding: 40px 0 20px;
      }
      p.abtCap {
        padding-bottom: 50px;
        // opacity: 1;
        font-size: 1em;
        // text-transform: uppercase;
      }
      p.about.low {
        padding-top: 80px;
        font-weight: lighter;
      }
      p.about,
      iframe#twitter-widget-0 {
        display: none;
      }
      a {
        text-decoration: none;
        color: $carnation;
        font-weight: 800;
      }
      &:hover {
        transition: display .5s ease-in-out;
        opacity: 0.8;
        cursor: default;
        p.about,
        iframe#twitter-widget-0 {
          display: block;
          margin-top: 10px;
        }
        .fa,
        p.abtCap {
          display: none;
        }
      }
    }
    article.twitter {
      p.abtCap {
        padding-bottom: 100px;
      }
      p.about.low {
        padding-top: 0;
      }
    }
    article.blog {
      overflow:visible;
    }
    article.github {

      background: $royal url('https://i.gyazo.com/88d15dabc529f4ea2e1c17ddcaf82cd6.gif') repeat-x center center;
      background-size: contain;
    }
  }
  div.image {
    @include span-columns(12);
    text-align: center;
    img {
      height: 250px;
      margin-bottom: 20px;
      border-radius: 50px;
      border: 3px solid $merlot;
    }
  }
}

/////// portfolio ////

div.portWrapper {
    background: $carnation url('../images/st-img.jpg') no-repeat top center;
    background-size: cover;
    padding-bottom: 750px;
    padding-top: 80px;
}
section.portfolio {
  @include outer-container;
  // border-top: 20px solid $merlot;
  background: $carnation;
  color: $carnation;
  // position: relative;
  margin: 0 auto;
  height: 0;
  // z-index: 1;
  h2 {
    margin: 30px;
    color: $merlot;
  }
  span {
    font-family: 'Parisienne', cursive;
    font-size: 2em;
  }

  div.portfolio {
    @include span-columns(12 of 12);
    margin: 30px 0;
    // margin-left: 2.5%;
    // z-index: 1;
    height: 100%;

    article.show,
    article.hide {
      @include span-columns(3 of 12);
      border: 1px solid white;
      border-radius: 10px;
      // z-index: 1;
      position: static;
      margin: 30px 10px;
      text-align: center;
      background-size: contain;
      width: 30%;
    }
    article.show {
      background: rgba(0, 0, 0, .5);
      height: 240px;
      padding: 80px 0;
      h2 {
        color: $carnation;
        margin: 20px 0;
        font-size: 2em;
        border: 1px solid $gray;
        // border-radius: 100px;
        background: rgba(250, 250, 250, 0.5);
        transition: color .5s ease, background .5s ease;
        &:hover {
          color: $merlot;
          cursor: pointer;
          background: white;
          transition: color .5s ease, background .5s ease;
        }
      }
      h3 {
        color: rgba(250, 250, 250, 0.8);
        font-weight: lighter;
      }
      p {
        display: none;
      }
    }
    article.show#twt {
      // background: $sky;
      background-size: 100%;
    }
    article.show#todo {
      // background: $mint;
      background-size: 100%;
    }
    article.show#calc {
      // background: $berry;
      background-size: 80%;
    }
    article.show#gh {
      // background: $royal;
      background-size: 100%;
    }
    article.show#sk8 {
      // background: $coral;
      background-size: 100%;
    }
    article.show#tshirt {
      // background: $camel;
      background-size: 100%;
    }

    article.hide {
      height: 240px;
      padding: 50px 0;
      overflow: hidden;
      h2, h3 {
        display: none;
      }
      p {
        border: 1px solid $gray;
        background: $merlot;
        // border-radius: 10px;
        padding: 0;
        a {
          text-decoration: none;
          color: rgba(250, 250, 250, 0.7);
          font-size: 2em;
          transition: color .5s ease;
          &:hover {
            color: white;
            cursor: pointer;
            transition: color .5s ease;
          }
        }
      }
    }
    article.hide#twt {
      background: $sky url('https://i.gyazo.com/b2614797a77b02d3edd35f9991564895.gif') repeat-x center center;
      background-size: contain;
    }
    article.hide#todo {
      background: $mint url('https://i.gyazo.com/ebd53747dec76a16392cd9d573108c94.gif') repeat-x center center;
      background-position-y: 30px;
      background-size: contain;
    }
    article.hide#calc {
      background: $berry url('https://i.gyazo.com/70fef86f8bc7e3fe5db3926f2694c486.gif') repeat-x center center;
      background-size: contain;
    }
    article.hide#gh {
      float:left;
      background: $royal url('https://i.gyazo.com/88d15dabc529f4ea2e1c17ddcaf82cd6.gif') repeat-x center center;
      background-size: contain;
    }
    article.hide#sk8 {
      background: $coral url('http://cdn.makeagif.com/media/11-29-2015/l6zBGp.gif') repeat-x center center;
      background-size: contain;
    }
    article.hide#tshirt {
      background: $camel url('../images/tshirt.png') repeat-x center center;
      background-size: contain;
    }
  }
}

section.resume {
  @include span-columns(12 of 12);
  border-top: 20px solid $merlot;
  border-bottom: 20px solid $merlot;
  background: $blush;
  span {
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    color: $rosewood;
    margin-left: 30px;
  }
  div.resume {
    @include span-columns(10 of 12);
    margin: 5% 8%;
    color: $rosewood;
    border: 1px solid $carnation;
    background: white;
    opacity: 0.75;
    padding: 25px 50px;
    h1 {
      color: $rosewood;
      font-size: 2.4em;
      text-transform: uppercase;
      display: inline-block;
      float:left;
    }
    h2 {
      display: inline-block;
      float:left;
      margin: 38px 0 0 30px;
      font-weight: 200;
    }
    p {
      font-size: 0.8em;
      margin: 5px;
      clear: left;
    }
    a {
      text-decoration: none;
      color: $carnation;
    }
    ul.contact {
      li {
        float: none;
        width: 100%;
        a{
          font-family: 'Montserrat', sans-serif;
          padding-left: 5px;
          text-decoration: none;
          color: $carnation;
        }
      }
    }
    h3 {
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 1.3em;
      margin-bottom: 10px;
    }
    div.content {
      margin-top: 60px;
    }
    section.experience {
      @include span-columns(6 of 10);
        // margin-right: 30px;
        padding-right: 35px;
      h2 {
        font-size: 1.2em;
        margin-left: 0;
        margin-top: 20px;
        font-weight: bold;
      }
      p {
        margin: 10px 0;
        font-weight: 200;
      }
      ul {
        margin: 0 0 30px;
        padding: 0 15px;
        // list-style-type: none;
        li {
          color: $carnation;
          font-size: .9em;
        }
      }
    }
    section.skills {
      @include span-columns(4 of 10);
      // background: white;
      ul {
        margin: 0;
        padding: 0 15px;
        // list-style-type: none;
        li {
          color: $carnation;
        }
      }
      p {
        color: $carnation;
        font-size: .8em;
      }
      .info {
        color: $rosewood;
        font-size: 1em;
      }
    }
  }
}

/////// blog ////

section.blog {
  @include span-columns(12);
  border-bottom: 20px solid $merlot;
  padding-bottom: 20px;
  h2 {
    color: $blush;
    margin: 20px;
    span {
      font-family: 'Parisienne', cursive;
      font-size: 2em;
    }
  }
  div.blog {
    @include span-columns(12);
    margin: 0 auto;
    width: 90%;
    iframe {
      @include span-columns(3.9 of 12);
      margin: 10px;
      opacity: .9;
      height: 405px;
    }
    &::after {
      content: "";
      display: none;
      clear: both;
    }
  }
}

@import "_responsive.scss";

@media (max-width: 995px) {
div.heading {
  h1 {
    left: 300px;
  }
}
header nav {
  left: 280px;
}
section.portfolio {
  div.portfolio {
    margin-left: 0;
  article.show h2 {
    font-size: 1.5em;
  }
  p {
    font-size: .75em;
  }
 }
}
section#resume {
  div.resume {
    padding: 25px 40px;
    h1 {
      text-align: center;
      float: none;
      display: block;
    }
    h2.resumeTitle {
      float: none;
      margin: 0 auto;
      display: block;
      text-align: center;
    }
    p.contact {
      text-align: center;
    }
    p.info {
      font-size: .94em;
    }
  }
 }
}

@media (max-width: 935px) {
  section.bio h2 {
    font-size: 1.2em;
  }

  section#about,
  section#contact {
    margin: 0;
  div.about {
    @include span-columns(12 of 12);
    h2 {
      margin: 30px;
    }
    margin: 0;
    display: block;
    // width: 50%;
    text-align: center;
  }
  div.image {
    @include span-columns(12 of 12);
    text-align: center;
    width: 50%;
    margin: 40px 25%;
    display: block;
    img {
      margin: 0;
    }
  }
 }
 div.portWrapper {
   padding: 1px 0 785px;
 }
 section.portfolio {
   @include outer-container(100%);
   @include omega;
   &::after {
     content: "";
     display: block;
     clear: both;
   }

   h2 {
     padding: 100px auto 0;
     display: block;
     text-align: center;
     color: $blush;
     margin: 0;
   }
   div#portfolio {
     @include span-columns(12 of 12);
     text-align: center;
     margin-top: 0;
     margin-left: 0;
   article.show,
   article.hide {
     @include span-columns(4 of 12);
     width: 30%;
     margin-left: 90px;
     margin-top: 15px;
     margin-bottom: 15px;
     border-radius: 10px;
     h2 {
       margin-top: 0px;
     }
   }
   &::after {
     content: "";
     clear:both;
     display: block;
   }
  }
  section.blog#blog h2.blog {
    text-align: center;
  }
  section.blog#blog div#blog.blog {
    margin: 0 auto;
    padding-left: 30px;
    width: 100%;
    // section.blog div#blog {
    //   @include span-columns(5 of 12);
    //   // @include shift(3);
    //   margin-left: 25%;
    //   padding-left: 30px;
    // }
    iframe {

      // width: 200%;
      // margin: 10px;
      // opacity: .9;
      // height: 405px;
      &:nth-child(4) {
        clear:none;
      }
      &:nth-child(2n) {
        margin-left: 40%;
      }
    }
  }
 }
}

@media (max-width: 806px) {
header.header {
  div.heading {
    h1 {
      float: left;
      left: 50px;
      top: 65px;
      font-size: 2.3em;
    }
  }
  nav {
    margin: 5px;
    text-align: center;
    a {
      font-size: 1em;
      border-top: 1px solid $carnation;
      border-right: 1px solid $carnation;
      width: 20px;
      padding: 10px 5px;
      margin: 0 .75em 0 0;
      background: rgba(250,250,250,0.3);
      border-radius: 10px;
      &:hover {
        width: 20px;
        padding: 10px 5px;
      }
      &:focus {
        width: 20px;
        padding: 10px 5px;
        background: rgba(250,250,250,0.5);
      }
    }
  }
 }
 section.bio {
   h2 {
   color: $carnation;
   position: static;
  }
 }
}

@media (max-width: 740px) {
  header {
    nav a {
      font-size: .75em;
    }
  }
  section.bio h2 {
    font-size: 1em;
  }
}

@media (max-width: 672px) {
body {
  header.header {
    width: 100%;
    float: right;
    padding: 5px;
    height: auto;
    // background: none;
    nav.main {
      display: none;
    }
    nav.mobile {
      width: 100%;
      display: block;
      // float: right;
      // text-align: right;
      p.title {
        display: none;
        color: $blush;
        float: left;
        margin: 8px 5%;
        text-transform: uppercase;
        letter-spacing: 0.2em;
      }
      button {
        background: none;
        color: $blush;
        border: none;
        font-size: 2em;
        margin-right: 10px;
        float: right;
        text-align: right;
      }
      p.menu {
        float: right;
      }
      p.menu span,
      p.menu {
        color: $blush;
        display: inline-block;
        text-align: right;
        font-size: .8em;
        margin: 0 10px;
        font-weight: lighter;
      }
      p.menu span {
        font-family: 'Parisienne', cursive;
        font-size: 2em;
        margin: 0 5px;
      }
      div {
        display: none;
        z-index: 888;
        width: 100%;
        background: $carnation;
        // background: rgba(166, 74, 84, 0.6);
      }
      a {
        float: none;
        display: inline-block;
        width: 100%;
        border-radius: 0;
        // background: none;
        &:hover {
          width: 100%;
        }
      }
    }
  }
  div.heading h1 {
    margin-top: 0;
  }
}
  section.bio {
    @include span-columns(6 of 12);
    margin-top: 50px;
    h2 {
      font-size: 1em;
      margin-top: 0px;
    }
    p {
      font-size: .85em;
    }
  }
  section.portfolio div.portfolio article.show {
    @include span-columns(4 of 12);
  }
  section.portfolio div.portfolio article.hide {
    @include span-columns(4 of 12);
  }
  section.contact {
    div.about {
      margin-left: 5px;
    }
  }
  section.resume {
    div.resume {
      section.experience {
        @include span-columns(11 of 12);
        width: 100%;
        float: none;
      }
      section.contact,
      section.skills,
      section.education {
        @include span-columns(11 of 12);
        width: 100%;
        float: none;
      }
    }
  }
}
//////566px////////////
@media (max-width: 566px) {
  header div.heading h1 {
    font-size:1.5em;
  }
  section.bio {
    h2 {
      font-size: .8em;
    }
  }
  section#about,
  section#contact {
    article {
      @include span-columns(5 of 12);
      border-radius: 1px;
      margin-top: 0;
      &:nth-child(2n) {
        margin-left: 10%;
      }
      &:nth-child(6) {
        @include span-columns(10);
      }
    }
    div.image {
      margin-left: 10%;
    }
  }
  section.portfolio div#portfolio article.show {
    @include span-columns(8 of 12);
    margin: 5px 15%;
  }
  section.portfolio div#portfolio article.hide {
    @include span-columns(8 of 12);
    margin: auto;
  }
  div.portWrapper {
    padding-bottom: 1500px;
  }
  section.blog div#blog iframe {
    margin-left: 25%;
    width: 50%;
  }
}

@media (max-width: 415px) {
  body {
    header.header {
      nav.mobile {
        p.title {
          display: inline-block;
        }
        p.menu {
          display: none;
        }
      }
    }
  }
  div.wrapper {
    padding-top: 80px;
  }
  div.heading {
    display: none;
  }
  section.bio {
    @include span-columns(7 of 12);
    margin-top: 0;
  }
  section.about {
    div.image {
      img {
        width: 250px;
        height: auto;
      }
    }
  }
}
